<template>
  <div class="container">
    <h1 class="text-center mb-4">Lista de Tweets</h1>
    <div class="message_container" v-if="tweets.length === 0">
      <p class="message">No hay ningún Tweet</p>
      <button class="btn btn-sm pl-4 pr-4" :class="{'btn-success': !showForm, 'btn-danger': showForm}" @click="openCloseForm">
        {{ !showForm ? 'Nuevo Tweet' : 'Cerrar Tweet' }}
      </button>
    </div>
    <div class="tweet" v-for="tweet in tweets" :key="tweet.id">
      <p class="tweet__title">{{ tweet.username }}</p>
      <p class="tweet__text">{{ tweet.tweet }}</p>
      <!--      <span>{{ formatDate(tweet.createdAt) }}</span>-->
      <span>{{ formatDate(tweet.createdAt) }}</span>
      <Close @click="deleteTweet(tweet.id)"/>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import "moment/locale/es";
import {Close} from './icons/index';
import {deleteTweetApi} from "../api/tweet";

export default {
  name: "TweetList",
  props: {
    tweets: Array,
    reloadTweets: Function,
    showForm: Boolean,
    openCloseForm: Function
  },
  components: {
    Close,
  },
  setup(props) {
    const formatDate = (mydate) => {
      return moment(mydate).fromNow();
    }

    const deleteTweet = (idTweet) => {
      // console.log('borrando tweet -> ', idTweet)
      deleteTweetApi(idTweet);
      props.reloadTweets()
    }

    return {
      formatDate, deleteTweet
    }
  }
}
</script>

<style lang="scss">
.tweet {
  position: relative;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0;
  }

  &__title {
    position: absolute;
    top: -12px;
    left: 10px;
    background: white;
    padding: 0 10px;
    font-weight: bold;
  }

  &__text {
    color: gray;
  }

  span {
    position: absolute;
    right: 10px;
    bottom: -9px;
    font-size: 12px;
    color: gray;
    padding: 0 20px;
    border: 1px solid #ccc;
    background: white;
  }

  svg {
    width: 20px;
    height: 20px;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.message_container {
  text-align: center;
  .message {
    text-align: center;
    color: gray;
  }
}

</style>