<template>
  <Menu :openCloseForm="openCloseForm" :showForm="showForm"></Menu>
  <TweetForm :showForm="showForm" :reloadTweets="reloadTweets" :openCloseForm="openCloseForm"></TweetForm>
  <TweetList :tweets="tweets" :reloadTweets="reloadTweets" :showForm="showForm" :openCloseForm="openCloseForm"/>
</template>

<script>
import {ref} from 'vue';
import Menu from "./components/Menu";
import TweetForm from "./components/TweetForm";
import useFormTweet from "./hooks/useFormTweet";
import TweetList from "./components/TweetList";
import {getTweetsApi} from "./api/tweet";

export default {
  name: 'App',
  components: {TweetList, TweetForm, Menu},
  setup() {
    let tweets = ref(getTweetsApi().reverse());

    const reloadTweets = () => {
      tweets.value = getTweetsApi().reverse();
    }

    return {
      ...useFormTweet(), tweets, reloadTweets
    }
  }
}
</script>

<style lang="scss">

</style>